<div class="container">
	<div  class="jumbotron">
		<h1>Movie</h1>
		<a href="/movie/new" class="btn btn-lg btn-success">Insert Movie</a>
		<a href="/bags/new" class="btn btn-lg btn-success">Insert Bags</a>
	</div>
</div>